.exploreinner{
    display: grid;
    grid-template-columns: 55% 45%;
    max-width: 1800px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: var(--black);
}

.exploreinner .exploreimg img{
    width: 100%;
    height: 100%;
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
    /* filter: blur(2px); */
    /* height: 100%; */
}

.exploreinner .exploreimg img:hover{
    filter: blur(0px);
}

.exploreimg{
    position: relative;
}

.explorecon{
    width: 70%;
    margin: auto;
    color: var(--whites);
}

.explorecon h1{
    font-size: 35px;
}

.explorecon p{
    color: var(--grey);
    font-size: 15px;
}

.exploreimg::before{
    content: "";
    display: block;
    height: 150%;
    width: 50px;
    background-color: var(--main);
    position: absolute;
    transform: rotate(9deg);
    left: -40px;
    top: 20%;
}

.explorecon a{
    background-color: var(--whites);
    color: var(--black);
    padding: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    border-radius: 6px;
}


@media(max-width:1200px){
    .explorecon{
    width: 90%;
    margin: auto;
    color: var(--whites);
}
}

@media(max-width:900px){
    .exploreinner{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }

.exploreinner .exploreimg img{
    clip-path:none;
    margin-top: 40px;
}
.exploreinner .exploreimg img{
    /* padding: 20px; */
    border-radius: 12px;
    height: auto;
}

.exploreimg::before{
    display: none;
}

.explorecon{
    width: 100%;
}

}

@media(max-width:900px){
    .explorecon h1{
    font-size: 30px;
}
}