.logincon{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--whites);
    padding: 20px;
    width: 400px;
    border: 1px solid var(--sd);
    box-shadow: 1px 1px 5px var(--sd);
    border-radius: 6px;
    z-index: 9;
}

.inputcon{
    margin-top: 10px;
    position: relative;
}

.inputcon svg{
    position: absolute;
    top: 55%;
    right: 15px;
    cursor: pointer;
    /* transform: translateY(-50%); */
}

.inputcon input{
    padding: 12px;
    width: 100%;
    border-radius: 6px;
    /* box-shadow: 1px 1px 5px var(--sd); */
    border: 1px solid var(--sd);
}
.inputcon input:focus{
    outline: transparent;
    border: 1px solid var(--black);
}

.loginconinner button{
    background-color: var(--main);
    border: transparent;
    width: 100%;
    padding: 15px 0;
    color: var(--whites);
    font-weight: 500;
    /* margin-top: 10px; */
    border-radius: 6px;
    cursor: pointer;
}
.formlogo{
    text-align: center;
    margin-bottom: 25px;
}

.formlogo svg{
    font-size: 35px;
    color: var(--main);
}

.formlogo p{
    color: var(--black);
    line-height: 20px;
}

.regmsg{
    text-align: right;
    font-size: 14px;
    margin: 15px 0;
}

.regmsg span{
    color: var(--main);
    text-decoration: none;
    cursor: pointer;
}

.closebtn{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    color: var(--black);
}

.errtext{
    color: red;
    font-size: 10px;
    margin-top: 2px;
    padding: 0px;
    font-weight: 400;
}